    nav {
        background-color: #fefefe;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    img {
      height: 40px;
    }
    .logo {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      display: flex;
      align-items: center;
    }
    .nav-links {
      display: flex;
      gap: 15px;

    }
    .nav-links a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      background-color: #CFE5F0;
        padding: 8px 12px;
        border-radius: 4px;
    }