
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #81DEFC;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}
.main-container a {
     text-decoration: none;
      color: #333;
      font-weight: 500;
      background-color: #CFE5F0;
        padding: 8px 12px;
        border-radius: 4px;
        
}
.authentication-page ,.reset-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}